<input type="text" [(ngModel)]="campo">
<p>{{ campo }}</p>
<button (click)="mensagem()">Clique com cuidado</button>

<br/>
<button (click)="naoGostoMais()">Outro Botão</button>

<p *ngIf="gostandoDeAngular">Parabéns</p>

<p *ngIf="!gostandoDeAngular">Que pena</p>

<br/>

<input type="text" [(ngModel)]="cor"/>

<div [ngSwitch]="cor">
    <p *ngSwitchCase="'azul'">Voce escolheu azul</p>
    <p *ngSwitchCase="'vermelho'">Voce escolheu vermelho</p>
    <p *ngSwitchCase="'verde'">Voce escolheu verde</p>
    <p *ngSwitchCase="'preto'">Voce escolheu preto</p>
</div>

<br/>

